 &SETUP
 tratio = 0.75,
 initd = 0,
 kpuff = 0,
 khmax = 9999,
 kmixd = -1,
 kmix0 = 150,
 kzmix = 0,
 kdef = 0,
 kbls = 1,
 kblt = 0,
 idsp = 1,
 conage = 24,
 gemage = 48,
 numpar = 2500,
 qcycle = 0.0,
 efile = 'EMITIMES',
 tkerd = 0.18,
 tkern = 0.18,
 hscale = 10800.0,
 vscales = 0.0,
 vscaleu = 200.0,
 ninit = 1,
 ndump = 0,
 ncycl = 0,
 pinpf = 'PARINIT',
 poutf = 'PARDUMP',
 mgmin = 10,
 kmsl = 0,
 maxpar = 10000,
 cpack = 1,
 cmass = 0,
 dxf = 1.0,
 dyf = 1.0,
 dzf = 0.01,
 ichem = 0,
 maxdim = 1,
 kspl = 1,
 krnd = 6,
 frhs = 1.0,
 frvs = 0.01,
 frts = 0.10,
 frhmax = 3.0,
 splitf = 1.0,
 cmtfn = ' ',
 wvert = .TRUE.,
 /
